.App {
  background-color: #27592D; padding: 20px;
  text-align: center;
}

.title {
  font-size: 32px;
  margin-bottom: 15px;
}

#board {
  margin: 20px;
  border: 1px solid black; background-color: #efefef; padding: 10px;
}